version: '3.7'
services:
    linux-debian-commands:
      container_name: linux-debian-commands
      build: 
        context: .
        args:
          BACKEND_ENDPOINT: ${BACKEND_ENDPOINT}
          BACKEND_TOKEN: ${BACKEND_TOKEN}
      networks:
        - caddy
      restart: unless-stopped
      labels:
        caddy: ${DOMAIN_NAME}
        caddy.reverse_proxy: "{{upstreams 3000}}"

networks:
  caddy:
    external: true